@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SourceSansPro_Light;
    src: url("../../assets/fonts/SourceSansPro-ExtraLight.otf");
}

@font-face {
    font-family: SourceSansPro_Black;
    src: url("../../assets/fonts/SourceSansPro-Black.otf");
}

:root {
    --color-light-grey: #BCBAAA;
}

body {
    font-family: 'SourceSansPro', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

hr {
    color: var(--color-light-grey);
}

body {
    margin: 0;
    padding: 0;
}

hr {
    border-color: #ffffff !important;
}